# Preparing **Adults' Income Dataset**

## Carga del dataset y librer√≠as necesarias

In [ ]:
# Importamos las librerias necesarias
import pandas as pd

In [ ]:
# Importamos el dataset
from ucimlrepo import fetch_ucirepo 
adult = fetch_ucirepo(id=2) 
  
# Creamos un dataframe con los datos
df = pd.DataFrame(data=adult.data.original, columns=adult.data.headers)

In [2]:
# Echemos un vistazo a los datos
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
# Eliminamos todas las entradas a las que les falte algun valor
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47621 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             47621 non-null  int64
 1   workclass       47621 non-null  object
 2   fnlwgt          47621 non-null  int64
 3   education       47621 non-null  object
 4   education-num   47621 non-null  int64
 5   marital-status  47621 non-null  object
 6   occupation      47621 non-null  object
 7   relationship    47621 non-null  object
 8   race            47621 non-null  object
 9   sex             47621 non-null  object
 10  capital-gain    47621 non-null  int64
 11  capital-loss    47621 non-null  int64
 12  hours-per-week  47621 non-null  int64
 13  native-country  47621 non-null  object
 14  income          47621 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.8+ MB

In [5]:
# Contamos los posibles valores de 'income' y vemos que hay 4 clases posibles, pero podemos agruparlas en 2 quitando los puntos finales
df['income'].value_counts()

income
<=50K     24720
<=50K.    11360
>50K       7841
>50K.      3700
Name: count, dtype: int64

In [6]:
# Convertimos el atributo 'income' a binaria transformando los valores de '<=50K.' a '<=50K' y '>50K.' a '>50K.' usando map
df['income'] = df['income'].map({'<=50K.': '<=50K', '>50K.': '>50K', '<=50K': '<=50K', '>50K': '>50K'}) 
df['income'].value_counts()

income
<=50K    36080
>50K     11541
Name: count, dtype: int64

In [7]:
# Exportamos los datos a un csv en '../data/adults'
df.to_csv('../data/adults/adults_original.csv', index=False)

In [9]:
# Redondeamos a centenas 'fnlwgt' y 'capital-gain'. Y a decenas 'capital-loss'
df = pd.read_csv('../data/adults/adults_original.csv')

df['fnlwgt'] = df['fnlwgt'] // 100 * 100
df['capital-gain'] = df['capital-gain']  // 100 * 100
df['capital-loss'] = df['capital-loss']  // 10 * 10

df.to_csv('../data/adults/adults_rounded.csv', index=False)